@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  font-family: 'Courier Prime', monospace;
  margin: 0px;
  padding: 0px;
  background-color: #f4f4f4;
  color: black;
}  

header {
  text-align: center;
  padding: 1em 0;
	border-bottom: 1px dashed black;
}

a {
	margin: 0 15px;
	color: black;
	text-decoration: none;
}

a:hover {
		text-decoration: underline;
}

section {
  padding: 2em;
}

img.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid black 1px;
  display: block;
  margin: auto;
}

progress {
  width: 170px;
  height: 15px;
  border: solid black 1px;
  color: black;
  background-color: #f4f4f4;
}

progress::-webkit-progress-bar {
	background-color: #f4f4f4;
}

progress::-webkit-progress-value  {
	background-color: black;
}

progress::-moz-progress-bar  {
	background-color: black;
}

details {
  display: flex;
  border-bottom: 1px dashed black;
  padding: 1em 0;
  margin: 0px;
}

details:hover {
  border: solid;
}

p {
    margin-top: 30px;
}