body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding:20px;
  text-align: center;
}

#characters-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.character-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
  width: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.attribute {
  font-weight: bold;
  margin-right: 5px;
}

.character-detail {
  margin: 7px;
}